* {
	padding: 0;
	margin: 0;
	user-select: none;
}

:root {
	--layout-width: 100%;
	--layout-height: 100%;
	--input-background: #2e2e2e;
	--inputHover-background: #232323;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #121212;
	font-size: 12px;
	font-family: "Open Sans";
	tab-size: 4;
}

button {
	min-width: 32px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	color: #fff;
}
button:last-child {
	margin-right: none;
}
button:active {
	transform: translateY(1px);
}

buttons {
	display: flex;
	flex-direction: row-reverse;
}
button.green {
	padding: 8px;
	background: #4CAF50;
	text-shadow: 0 0 2px #3c3c3c;
	border-radius: 3px;
	min-width: 80px;	
}

select, input {
	width: 100%;
	height: 20px;
	box-sizing: border-box;
}
input {
	padding-left: 5px;
}
input[type="checkbox"] {
	width: auto;
	height: auto;
}

form {
    margin-bottom: 10px;
    padding: 4px 3px;
}
form entry {
	display: flex;
}
form entry key {
	flex: 0 0 150px;
	padding: 4px 4px 4px 0;
	color: #e4e4e4;	
}
form entry value {
	flex: 1;
}
form entry error {
	color: #F44336;
	padding: 3px;
	display: block;
}
form input {
	border: none;
	background: var(--input-background);
	color: #d2d2d2;
	padding: 5px 7px;
	height: 26px;
	box-sizing: border-box;
	font-size: 12px;	
}
form input:focus {
	outline: 1px solid #4CAF50;
}

loading {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 1px;	
}

table th {
	padding: 4px;
}
table tr:hover {
	background: #bbb;
}
table tr.open:hover {
	background: none;
}
td input, 
sheet input,
sheet select {
	background: none;
	border: none;
}
td word {
	display: block;	
	height: 100%;
}

container {
	width: 100%;
	height: 100%;
	border: 10px solid black;
}
full {
	width: 100%;
	height: 100%;
	border: 10px solid red;
}
row {
	display: flex;
}

list {
	flex: 1;
	overflow-y: auto;
}
list > header {
	padding: 4px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #777;
}
list item {
	display: flex;
}
list item:hover,
list item.active {
	background: #428ce5;
}
list a {
	flex: 1;
	padding: 3px 3px 3px 5px;
    color: #222;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #f7f7f7;
    text-shadow: 0 0 2px #0e0e0e;
}
list key {
	flex: 0 0 40px;
}

layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}
layout.center {
	justify-content: center;
	align-items: center;
}

window {
	display: block;
	width: 400px;
	background: #383838;
	border: 1px solid #505050;
	color: white;
}
window > header {
	display: flex;
	background: #000;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	color: #adabab;
	letter-spacing: 1px;
}
window > header > name {
    flex: 1;
    padding: 6px 8px;
}
window > header > button {
	font-size: 14px;
    color: #ffffffb0;
    margin: 0;
}
window > header > button:hover {
	color: white;
}
window > content {
	display: block;
	padding: 4px;
}

workspace {
	display: flex;
	flex: 1;
}

menu {
	display: flex;
	background: black;
	border-bottom: 1px solid #2b2b2b;
}
menu a {
	padding: 5px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	color: #bbb;
}
menu a:hover,
menu a.active {
	color: white;
}

toolbar {
	display: flex;
	background: #ccc;
	margin: 2px;
	padding: 3px;
}

panel {
    display: flex;
    flex-direction: column;
    flex: 1;
	/* background: linear-gradient(to bottom, #333, #2a2a2a); */
	background: linear-gradient(to bottom, #404040, #3c3b3b);
    height: 100%;
    box-sizing: border-box;
}
panel.side {
	border-left: 1px solid #0000006b;
}
panel header {
	display: flex;
	flex: 0 0 25px;
    background: #000;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #adabab;
    letter-spacing: 1px;	
}
panel header name {
    flex: 1;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;	
}
panel content {
	position: relative;
	display: block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
panel info {
	flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    text-shadow: 0 0 1px #000000c2;
}

sheet {
	display: block;
	position: relative;
	height: 100%;
	border-top: 1px dashed black;
	box-sizing: border-box;
}
sheet sheet {
	margin-left: 8px;
	border-top: 0;
}
sheet field { 
	flex: 1;
	padding: 2px;
    padding-left: 6px;
    background: #cecece;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2e1a13;
    font-weight: 600;
}
sheet field.button {
	flex: 0 0 32px;
}
sheet field.button button {
	color: #afa9a7;
}
sheet field.input {
	flex: 0 0 150px;
}
sheet head {
	display: flex;
	text-align: center;
	font-weight: 600;	
}
sheet head field {
    background: #171717;
    color: #fff;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
sheet > content {
	height: calc(100% - 27px);
}
sheet field.caret {
	flex: 0 0 20px;
	padding: 3px;
}
sheet row {
	display: flex;
	flex-direction: row;
	cursor: text;
	border-bottom: 1px solid #b7b7b7;
}
sheet row:hover field {
	background-color: #ededed;
}
sheet word {
	display: block;
	height: 100%;
	word-break: break-word;
}
sheet input {
	height: 100%;
}
sheet properties {
	display: flex;
	padding-left: 8px;
	padding-bottom: 4px;
	flex-direction: column;
	background: #e0e0e0;
    border-bottom: 1px solid #b7b7b7;	
}
sheet properties property {
	display: flex;
	padding: 2px;
}
sheet properties property key {
	flex: 0 0 150px;
}
sheet properties property value {
	flex: 1;
}

back {
	display: flex;
	align-items: center;
	justify-content: center;     
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7)
}

popup {
	display: flex;
	flex-direction: column;
	min-width: 400px;
}
popup header {
	display: flex;
	background: black;
	padding: 2px 2px 2px 10px;
}
popup header title {
	display: block;
	flex: 1;
	color: white;
	line-height: 21px;
}
popup content {
	display: flex;
	flex-direction: column;
	background: #ccc;
	min-height: 300px;
}

schema {
	display: flex;
	flex-direction: column;
	flex: 1;
}
schema list {
	flex: 1;
}
schema list item key {
	flex: 0 0 80px;
	text-align: left;
}
schema builder list item {
	flex-direction: column;
}

layout > export {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #e0e0e0;	
}
export content {
	overflow-y: auto;
    height: 100%;	
}
export list item key {
	flex: 0 0 80px;
}

pre {
	flex: 1;
	overflow-y: auto;
	user-select: all;
}

list.assets item a {
	padding: 3px;
}

caret {
	display: block;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: none; 
}
::-webkit-scrollbar-thumb {
	background: #111; 
}
::-webkit-scrollbar-thumb:hover {
	background: #111; 
}

loader {
	display: flex;
	flex: 1;
	width: 100%;
	height: 51px;
	justify-content: center;
	align-items: center;
}
loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	border: 6px solid #000;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}
loader.white div {
	border: 6px solid #fff;
	border-color: #fff transparent transparent transparent;
}
loader div:nth-child(1) {
	animation-delay: -0.45s;
}
loader div:nth-child(2) {
	animation-delay: -0.3s;
}
loader div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

window projects {
	display: block;
	height: 300px;
	overflow-y: auto;
	padding-right: 2px;
}
window projects.center {
	display: flex;
	align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;	
}
window projects item {
	display: flex;
	background: var(--input-background);
	margin-bottom: 2px;
	cursor: pointer;
	background: #2d2d2d;
	color: #eaeaea;
}
window projects item:hover {
	color: white;
	background: var(--inputHover-background);
}
window projects item name {
	flex: 1;
	padding: 7px;
}
window projects item button {
	color: #ffffff73;
    font-size: 13px;
}
window projects item button:hover {
	color: #fff;
}